{% extends 'base.html' %}

{% block content %}

<!-- The database object for an offender is sent here as target by the route -->

<h1>{{ pres.offender }}</h1>

<!-- NOTE the pattern for pointing to a file inside the static folder -->
<img class="right" src="{{ url_for('static', filename='images/' + pres.image) }}" alt="Cants portrait">

<p><h2>Ranking: {{ ord }} of {{ total }}</h2>
<h2>Crime against the state:</h2>
{{ pres.crime }} 

<h2>Sentence:</h2>
{{ pres.punishment }}
</p>

{% if pres.wiki != '' %}

<p><a href="{{ pres.wiki }}">View Wikipedia entry for {{ pres.offender }}.</a></p>

{% endif %}

Date added: {{ pres.created_at }}
<!-- NOTE the way to link to a route: Use the function name -->
<p><a href="{{ url_for('index') }}">Return to the list</a> to select a different offender.</p>

{% endblock %}
