{% extends 'base.html' %}

{% block content %}

<img class="right" src="{{ url_for('static', filename='images/' + 'comrades.jpg') }}" alt="Power to the people">
<h2>Come the glorious revolution brothers, 'the list' will be implemented.</h2>
<a href="{{ url_for( 'add_record' ) }}"><button>Add Entry</button></a>

<p>Click any of these miscreants to find out why and how.</p>

<!-- pairs is a list that must be sent here by a route function
     The list will contain pairs: Execution order & name. -->

    <ul>
    {% for hitlist in range(pointer, pointer+12) %}
        {% if pairs[hitlist] %}
            <li><a href="{{ url_for( 'detail', num=pairs[hitlist][0] ) }}">{{ pairs[hitlist][1] }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>

<a href="{{ url_for('index') }}"><button>Refresh</button></a>
<a href="{{ url_for('back') }}"><button>Back</button></a>
<a href="{{ url_for('forward') }}"><button>Forwards</button></a>

<p><span class="small">This is just a bit of fun. Don't bother emailing me with your complaints, get a life instead or risk being added to <b>"The list"</b></span></p>
{% endblock %}
