{% extends 'base.html' %}

{% block content %}

<img class="right" src="{{ url_for('static', filename='images/' + 'comrades.jpg') }}" alt="Power to the people">
<h2>Come the glorious revolution brothers, 'the list' will be implemented.</h2>
<a href="{{ url_for( 'add_record' ) }}"><button>Add Entry</button></a>

<p>Click any of these miscreants to find out why and how.</p>

<!-- pairs is a list that must be sent here by a route function
     The list will contain pairs: Execution order & name. -->

    <ul>
    {% for hitlist in range(pointer, pointer+12) %}
        {% if pair[hitlist] %}
            <li><a href="{{ url_for( 'detail', num=pair[hitlist] ) }}">{{ pair[hitlist+1] }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>

<a href="{{ url_for('index') }}"><button>Refresh</button></a>
<a href="{{ url_for('index') }}"><button value="{{  pointer-12  }}">Back</button></a>
<a href="{{ url_for('index') }}"><button value="{{  pointer+12  }}">Fordward</button></a>
{% endblock %}
