#cloud-config
hostname: ${hostname}
fqdn: ${fqdn}
manage_etc_hosts: true
resize_rootfs: true
users:
  - name: pi
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: wheel
    home: /home/pi
    shell: /bin/bash
    lock_passwd: false
    ssh-authorized-keys:
      - ${file("/home/pi/.ssh/id_rsa.pub")}
# only cert auth via ssh (console access can still login)
ssh_pwauth: false
disable_root: false
chpasswd:
  list: |
     pi:linux
  expire: False
packages:
    - qemu-guest-agent
growpart:
  mode: auto
  devices: ['/']
disk_setup:
  /dev/vdb:
    table_type: gpt
    layout: True
    overwrite: False
  /dev/vdc:
    table_type: gpt
    layout: True
    overwrite: False
runcmd:
    - ifdown
    - ifup
# written to /var/log/cloud-init-output.log
final_message: "The system is finall up, after $UPTIME seconds"

