#version=RHEL8
# Partition clearing information
# Use text install
text
auth --enableshadow --passalgo=sha512
repo --name="Server-HighAvailability" --baseurl=file:///run/install/repo/addons/HighAvailability
repo --name="Server-ResilientStorage" --baseurl=file:///run/install/repo/addons/ResilientStorage
# Use CDROM installation media
cdrom
# Keyboard layouts
keyboard --vckeymap=gb --xlayouts='gb'
# System language
lang en_GB.UTF-8

# Network information
network  --bootproto=static --device=enp1s0 --gateway=192.168.100.1 --ip=192.168.100.124 --nameserver=192.168.100.1 --netmask=255.255.255.0 --ipv6=auto --activate
network  --hostname=satellite6.zbd.local
# Root password
rootpw --iscrypted $6$axfQLU65vw5UAz9Q$.h52dBdRigMwHkIzn2ETaAP1ldatSwrK3EFqi/wb/MI0HtQi5rGzknCiZJg/SSIDra8Em8ZexE7g79VTVK/ME.
# Run the Setup Agent on first boot
firstboot --enable
# Do not configure the X Window System
skipx
# System services
services --enabled="chronyd"
# Intended system purpose
#syspurpose --role="RHEL Server" --sla="Self-Support" --usage="Development/Test"
# System timezone
timezone Europe/London --isUtc
user --groups=wheel --name=pi --password=$6$OIlas3W.9vclAtLZ$M/2.k/dCFLOp7rYvPb90EKkSRBG8V4GVS5NpKj1XEx10TQex4fkxzzm8PAMnu8BjC8.IVGf8j4QkEfwUUcHW00 --iscrypted --gecos="Gary Crowe"

zerombr
clearpart --all --initlabel --drives=vda,vdb
part /boot --fstype ext4 --size=1024 --ondisk=vda
part swap --size=8192 --ondisk=vda
part pv.01  --size=1000 --grow --ondisk=vda
volgroup systemvg pv.01
logvol / --vgname=systemvg --fstype=xfs --percent=100 --name=lv_root

part pv.02 --size=1000 --grow --ondisk=vdb
volgroup pulpvg pv.02
logvol /var/lib/pulp --vgname=pulpvg --fstype=xfs --percent=100 --name=lv_pulp

%packages
@^minimal
@core
chrony
kexec-tools
vim

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
